.errorframe{
 position: absolute;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 left: 0;
 margin-inline: auto;
 right: 0;
 top: 10vh;
}
.logo1{
  position: absolute;
  left: 20px;
  top:10px
 }
 .errorIcon{
  width: calc(60rem  + 1vw);
 }
.navigate{
  position: relative;
  text-decoration:underline;
  color: #3A2ADF;
  cursor:pointer;

}

@media screen and (max-width:600px) {
  .errorIcon{
      width: calc(35rem  + 1vw);
      
  } 
}

