.frame {
    background-repeat: no-repeat;
    margin: 0%;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-size:cover;
}

@media ((min-width:0px) and (max-width:767px))  {
    .right-container {
        background-color: #ffffff;
        width:80vw;
        font-family: "Inter-Regular", Helvetica;
        height:max-content;
        border-radius: 2%;
        position:absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        padding: 2%;
    }

}
@media  (min-height:0px) and (max-height:515px) {
    .right-container {
        background-color: #ffffff;
        width:50vw;
        font-family: "Inter-Regular", Helvetica;
        height:max-content;
        border-radius: 2%;
        position:absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        padding: 2%;
    }
    .left-container{
        display: none;
    }
  
}

@media screen and (min-width:768px) and (min-height:515px) {
    .right-container {
        left:60vw;
        background-color: #ffffff;
        width:32vw;
        height: fit-content;
        font-family: "Inter-Regular", Helvetica;
        border-radius: 2%;
        position: absolute;
        top:12vh;
        bottom: 10%;
        padding: 1%;

    }
}

.text-wrap {
    color: #ffffff;
    font-family: "Segoe UI-Regular", Helvetica;
    font-size: 5.495vw;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrap1 {
    color: #ffffff;
    font-family: "Segoe UI-Regular", Helvetica;
    font-weight: 400;
    font-size: 1.757vw;
    letter-spacing: 0;
    line-height: normal;
}

.adventure-start-here {
    height: fit-content;
    display: block;
    left: 6%;
    position: absolute;
    top: 30%;
    width: 30vw;
    text-align: left;
}

.h{
    display: inline-block;
}

 .p {
  
    display: inline-block;
    
}
