.password {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #dddada;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.password:hover,.password:focus {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #3A2ADF !important;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.pinput{
    width: 92% !important;
    margin: 0% !important;
    outline: none !important;
    border: none !important;
}
.pinput:hover,.pinput:focus {
    width: 92% !important;
    margin: 0% !important;
    outline: none !important;
    border: none !important;
}
.eicon{
    color: #3A2ADF;
}