.text-temp-color {
    color: #3A2ADF;
}
.history-box{
    display: flex;
    margin-top:1rem ;
    align-items: center;
    height: 5rem;
    align-self: center;
}
.history-reply-box {
    display: block;
    position: relative;
    height: 160px;
}

.history-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline-box {
    display: block;
    overflow: scroll;
    height: 350px;
   
}

.icon-box {
    width: 3.5rem;
    height: 3.5rem;
}